version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: pekari-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: pekari-backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    depends_on:
      - redis

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: pekari-web
    ports:
      - "4200:4200"
    depends_on:
      - backend
