<header>
  <nav class="nav">
    <a routerLink="/" class="brand-link">{{ title() }}</a>
    <div class="nav-links">
      <a *ngFor="let link of navLinksLeft()"
         [routerLink]="link.path"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         [class.nav-link-danger]="link.danger"
         (click)="handleLinkClick(link, $event)">
        {{ link.label }}
      </a>
    </div>
    <div class="nav-links">
      <a *ngFor="let link of navLinksRight()"
         [routerLink]="link.path"
         [href]="link.onClick ? '' : null"
         [class.nav-link-danger]="link.danger"
         (click)="handleLinkClick(link, $event)">
        {{ link.label }}
      </a>
    </div>
  </nav>
</header>
